@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Create";
}



<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uso" class="control-label"></label>
                <input asp-for="Uso" class="form-control" />
                <span asp-validation-for="Uso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantAmbientes" class="control-label"> Ambientes</label>
                <input asp-for="CantAmbientes" class="form-control" />
                <span asp-validation-for="CantAmbientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdPropietario" class="control-label">Propietario</label>
                <select class="form-control" name="IdPropietario">
                    <!--<option value="vacio">  </option>-->
                    @foreach (var item in (IList<Propietario>)ViewBag.Propietarios)
                    {
                        <option value="@item.Id">@(item.Nombre + " "+ item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="IdPropietario" class="text-danger"></span>
             </div>
                <div class="form-group">
                    <label  asp-for="Disponible" class="control-label"> Estado del inmueble:  </label>
                    <select class="form-control" id="estadoInmueble" name="Disponible">
                        
                        <option value=1>Disponible</option>
                        <option value=2>No disponible</option>
                    </select>

                    <span asp-validation-for="Disponible" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar" class="btn btn-primary" />

                    <a asp-action="Index"><input type="button" value="Volver" class="btn btn-primary" /></a>
                </div>
        </form>
    </div>

   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
