@model Inmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Edit";
}

<h1>EDITAR</h1>

<h4>Inquilino</h4>
<hr />


<div class="col-md-4">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"> "Mensaje"    </div>

        <div class="form-group">
            <label asp-for="Dni" class="control-label"></label>
            <input asp-for="Dni" class="form-control" />
            <span asp-validation-for="Dni" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tel" class="control-label"></label>
            <input asp-for="Tel" class="form-control" />
            <span asp-validation-for="Tel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LugarDeTrabajo" class="control-label">Lugar De Trabajo</label>
            <input asp-for="LugarDeTrabajo" class="form-control" />
            <span asp-validation-for="LugarDeTrabajo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DniGarante" class="control-label">Dni Garante</label>
            <input asp-for="DniGarante" class="form-control" />
            <span asp-validation-for="DniGarante" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NombreGarante" class="control-label">Nombre Garante</label>
            <input asp-for="NombreGarante" class="form-control" />
            <span asp-validation-for="NombreGarante" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ApellidoGarante" class="control-label">Apellido Garante</label>
            <input asp-for="ApellidoGarante" class="form-control" />
            <span asp-validation-for="ApellidoGarante" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TelGarante" class="control-label">Tel Garante</label>
            <input asp-for="TelGarante" class="form-control" />
            <span asp-validation-for="TelGarante" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmailGarante" class="control-label">Email Garante</label>
            <input asp-for="EmailGarante" class="form-control" />
            <span asp-validation-for="EmailGarante" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LugarTrabajoGarante" class="control-label">Lugar De Trabajo Garante</label>
            <input asp-for="LugarTrabajoGarante" class="form-control" />
            <span asp-validation-for="LugarTrabajoGarante" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="GUARDAR CAMBIOS" class="btn btn-primary" />
        </div>

    </form>

    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
